# SPARQL

The __Semantic Web__ is an extension of the World Wide Web that aims to make information on the web more meaningful and interconnected. It's based on the idea that web content should not only be readable by humans but also interpretable by machines. The goal is to enable machines to understand the context, meaning, and relationships between different pieces of information. Key components of the Semantic Web include:

1. __Resource Description Framework (RDF)__ is a standard model for representing and interchanging data on the Web. RDF's basic unit of information is given as a __triple__ composed of a subject (s), a predicate (p), and an object (o). In each triple: 
    - the __subject__ represents a fact on a thing being 
    - the __predicate__ represents a specific property 
    - the __object__ a given value. (Curâe and Blin. 2014)

    
2. __Web Ontology Language (OWL)__: A language for creating ontologies, which define relationships and categories of things in a specific domain. OWL allows for the formal description of concepts and their relationships.

3. __SPARQL__ is a recursive acronym for SPARQL Protocol and RDF Query Language. SPARQL is able to retrieve and manipulate data stored in Resource Description Framework (RDF) format and allows for a query to consist of triple patterns. A __SPARQL Endpoint__ is web service that allows you to query and interact with RDF (Resource Description Framework) data using SPARQL.


__Linked Open Data (LOD)__ is essentially a specific implementation or application of Semantic Web principles.

## Useful Sites

#### General
- [Introduction to SPARQL, RDF, and LOD](https://github.com/o-date/sparql-and-lod/blob/master/sparql-intro.ipynb), a Jupyter Notebook by Shawn Graham
- [SPARQL 1.1 Query Language](https://www.w3.org/TR/sparql11-query/)
- [SPARQL Query Validator](https://sparql.org/query-validator.html)

#### Nomisma.org
- [Nomisma.org SPARQL Endpoint](http://nomisma.org/sparql/)
- [SPARQL Examples from Nomisma.org](http://nomisma.org/documentation/sparql/)

#### Wikidata
- [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page)
- [Wikidata's SPARQL Tutorial](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial)
- [Wikidata Query Service](https://query.wikidata.org/)
- [Tutorial on how to build SPARQL queries on Wikidata](https://www.youtube.com/watch?v=YC6jyl4hAxQ)
- [Petscan](https://petscan.wmflabs.org/)

#### Imports

In [ ]:
# pip3 install SPARQLwrapper

In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

__SPARQLWrapper__ is a simple Python wrapper around a SPARQL service to remotelly execute your queries. It helps in creating the query invokation and, possibly, convert the result into a more manageable format. [Link](https://rdflib.dev/sparqlwrapper/doc/1.8.5/main.html)

#### Make Clickable
The function `make_clickable` takes a string `link` as an argument and returns a formatted string containing an HTML anchor (`<a>`) element.

In [2]:
def make_clickable(link):
    return f'<a href="{link}" target="_blank">{link}</a>'

---

## Nomisma.org

#### Prefixes

#### A simple query. Example from [Wikidata](https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples#Cats)

In [14]:
ns_dict = {"crm": "http://www.cidoc-crm.org/cidoc-crm/",
            "dcterms": "http://purl.org/dc/terms/",
            "dcmitype": "http://purl.org/dc/dcmitype/",
            "foaf": "http://xmlns.com/foaf/0.1/",
            "geo": "http://www.w3.org/2003/01/geo/wgs84_pos#",
            "nm": "http://nomisma.org/id/",
            "nmo": "http://nomisma.org/ontology#",
            "org": "http://www.w3.org/ns/org#",
            "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
            "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
            "skos": "http://www.w3.org/2004/02/skos/core#",
            "xsd": "http://www.w3.org/2001/XMLSchema#"}

In [15]:
# define the API
sparql = SPARQLWrapper("http://nomisma.org/query")

In [16]:
# Create the query: select the thing you want, under the conditions (WHERE)
# would be a lotta data, so let's just get 10

sparql.setQuery("""
SELECT ?identifier

WHERE {
?identifier a <http://nomisma.org/ontology#Hoard>

}
LIMIT 10

""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

In [17]:
# this is a JSON file
results

{'head': {'vars': ['identifier']},
 'results': {'bindings': [{'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1670'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1664'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1794'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1795'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1472'}},
   {'identifier': {'type': 'uri',
     'value': 'http://nomisma.org/id/lliria_hoard'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch0271'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1667'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch0083'}},
   {'identifier': {'type': 'uri',
     'value': 'http://coinhoards.org/id/igch1395'}}]}}

In [18]:
# all that we want is results>bindings
# we are going to normalize it using pandas
results_df = pd.json_normalize(results['results']['bindings'])
results_df

  identifier.type                    identifier.value
0             uri   http://coinhoards.org/id/igch1670
1             uri   http://coinhoards.org/id/igch1664
2             uri   http://coinhoards.org/id/igch1794
3             uri   http://coinhoards.org/id/igch1795
4             uri   http://coinhoards.org/id/igch1472
5             uri  http://nomisma.org/id/lliria_hoard
6             uri   http://coinhoards.org/id/igch0271
7             uri   http://coinhoards.org/id/igch1667
8             uri   http://coinhoards.org/id/igch0083
9             uri   http://coinhoards.org/id/igch1395

In [19]:
# get just the values
# double brackets gives dataframe
results_df[['identifier.value']]

                     identifier.value
0   http://coinhoards.org/id/igch1670
1   http://coinhoards.org/id/igch1664
2   http://coinhoards.org/id/igch1794
3   http://coinhoards.org/id/igch1795
4   http://coinhoards.org/id/igch1472
5  http://nomisma.org/id/lliria_hoard
6   http://coinhoards.org/id/igch0271
7   http://coinhoards.org/id/igch1667
8   http://coinhoards.org/id/igch0083
9   http://coinhoards.org/id/igch1395

In [20]:
# single brackets gives series
results_df['identifier.value']

0     http://coinhoards.org/id/igch1670
1     http://coinhoards.org/id/igch1664
2     http://coinhoards.org/id/igch1794
3     http://coinhoards.org/id/igch1795
4     http://coinhoards.org/id/igch1472
5    http://nomisma.org/id/lliria_hoard
6     http://coinhoards.org/id/igch0271
7     http://coinhoards.org/id/igch1667
8     http://coinhoards.org/id/igch0083
9     http://coinhoards.org/id/igch1395
Name: identifier.value, dtype: object

---

## Wikipedia


#### [Wikidata identifiers](https://www.wikidata.org/wiki/Wikidata:Identifiers)
Each Wikidata entity is identified by an entity ID, which is a number prefixed by a letter.

- items, also known as Q-items, are prefixed with Q (e.g. Q12345),
- properties are prefixed by P (e.g. P569) and
- lexemes are prefixed by L (e.g. L1).

Entity IDs can also be used as globally unique URIs that follow the pattern http://www.wikidata.org/entity/ID where ID is an entity ID.

In SPARQL, prefixes are a way to define shorthand abbreviations for URIs in order to make queries more concise and readable. They are used to create a namespace for the URIs, allowing you to refer to them with a shorter alias.

PREFIX bd: <http://www.bigdata.com/rdf#>
PREFIX cc: <http://creativecommons.org/ns#>
PREFIX dct: <http://purl.org/dc/terms/>
PREFIX geo: <http://www.opengis.net/ont/geosparql#>
PREFIX ontolex: <http://www.w3.org/ns/lemon/ontolex#>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX p: <http://www.wikidata.org/prop/>
PREFIX pq: <http://www.wikidata.org/prop/qualifier/>
PREFIX pqn: <http://www.wikidata.org/prop/qualifier/value-normalized/>
PREFIX pqv: <http://www.wikidata.org/prop/qualifier/value/>
PREFIX pr: <http://www.wikidata.org/prop/reference/>
PREFIX prn: <http://www.wikidata.org/prop/reference/value-normalized/>
PREFIX prov: <http://www.w3.org/ns/prov#>
PREFIX prv: <http://www.wikidata.org/prop/reference/value/>
PREFIX ps: <http://www.wikidata.org/prop/statement/>
PREFIX psn: <http://www.wikidata.org/prop/statement/value-normalized/>
PREFIX psv: <http://www.wikidata.org/prop/statement/value/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <http://schema.org/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX wd: <http://www.wikidata.org/entity/>
PREFIX wdata: <http://www.wikidata.org/wiki/Special:EntityData/>
PREFIX wdno: <http://www.wikidata.org/prop/novalue/>
PREFIX wdref: <http://www.wikidata.org/reference/>
PREFIX wds: <http://www.wikidata.org/entity/statement/>
PREFIX wdt: <http://www.wikidata.org/prop/direct/>
PREFIX wdtn: <http://www.wikidata.org/prop/direct-normalized/>
PREFIX wdv: <http://www.wikidata.org/value/>
PREFIX wikibase: <http://wikiba.se/ontology#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

In [23]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

From 
    https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples#Cats
this line tells wikidata we want to use english
    SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }

In [24]:
# let's get all of wikipedia's cats
# ?item gives all the URIS
# ?itemLabel gives names
#     with a capital L in label
# wdt:P31 means "is"
# wd:Q146 means cats

sparql.setQuery("""
SELECT ?item ?itemLabel

WHERE {
?item wdt:P31  wd:Q146 .

SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
LIMIT 10

""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

In [25]:
print(type(results))
results

<class 'dict'>

{'head': {'vars': ['item', 'itemLabel']},
 'results': {'bindings': [{'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/entity/Q378619'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'CC'}},
   {'item': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q498787'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Muezza'}},
   {'item': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q677525'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Orangey'}},
   {'item': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q851190'},
    'itemLabel': {'xml:lang': 'en',
     'type': 'literal',
     'value': 'Mrs. Chippy'}},
   {'item': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q893453'},
    'itemLabel': {'xml:lang': 'en',
     'type': 'literal',
     'value': 'Unsinkable Sam'}},
   {'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/entity/Q1050083'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Catmando'}},
   {'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/entity/Q1185550'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Oscar'}},
   {'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/entity/Q1201902'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Tama'}},
   {'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/entity/Q1207136'},
    'itemLabel': {'xml:lang': 'en',
     'type': 'literal',
     'value': 'Dewey Readmore Books'}},
   {'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/entity/Q1371145'},
    'itemLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'Socks'}}]}}

In [26]:
# all that we want is results>bindings
# we are going to normalize it using pandas
results_df = pd.json_normalize(results['results']['bindings'])
results_df

,item.type,item.value,itemLabel.xml:lang,itemLabel.type,itemLabel.value
0,uri,http://www.wikidata.org/entity/Q378619,en,literal,CC
1,uri,http://www.wikidata.org/entity/Q498787,en,literal,Muezza
2,uri,http://www.wikidata.org/entity/Q677525,en,literal,Orangey
3,uri,http://www.wikidata.org/entity/Q851190,en,literal,Mrs. Chippy
4,uri,http://www.wikidata.org/entity/Q893453,en,literal,Unsinkable Sam
5,uri,http://www.wikidata.org/entity/Q1050083,en,literal,Catmando
6,uri,http://www.wikidata.org/entity/Q1185550,en,literal,Oscar
7,uri,http://www.wikidata.org/entity/Q1201902,en,literal,Tama
8,uri,http://www.wikidata.org/entity/Q1207136,en,literal,Dewey Readmore Books
9,uri,http://www.wikidata.org/entity/Q1371145,en,literal,Socks

---

#### Dogs

In [45]:
# we got the label for dog from the Wikidata API notebook

sparql.setQuery("""
SELECT ?item ?itemLabel

WHERE {
?item wdt:P31  wd:Q144 .

SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
LIMIT 5

""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

In [46]:
# all that we want is results>bindings
# we are going to normalize it using pandas
results_df = pd.json_normalize(results['results']['bindings'])
results_df

,item.type,item.value,itemLabel.xml:lang,itemLabel.type,itemLabel.value
0,uri,http://www.wikidata.org/entity/Q42235,en,literal,Abuwtiyuw
1,uri,http://www.wikidata.org/entity/Q155695,en,literal,Blondi
2,uri,http://www.wikidata.org/entity/Q186486,en,literal,Hachikō
3,uri,http://www.wikidata.org/entity/Q280571,en,literal,Pickles
4,uri,http://www.wikidata.org/entity/Q384348,en,literal,Mancs

---

In [47]:
def make_clickable(link):
    return f'<a href="{link}" target="_blank">{link}</a>'

In [48]:
# let's make it clickable
results_df = pd.json_normalize(results['results']['bindings'])
results_df['item.value'] = results_df['item.value'].apply(make_clickable)
results_df

,item.type,item.value,itemLabel.xml:lang,itemLabel.type,itemLabel.value
0,uri,"<a href=""http://www.wikidata.org/entity/Q42235...",en,literal,Abuwtiyuw
1,uri,"<a href=""http://www.wikidata.org/entity/Q15569...",en,literal,Blondi
2,uri,"<a href=""http://www.wikidata.org/entity/Q18648...",en,literal,Hachikō
3,uri,"<a href=""http://www.wikidata.org/entity/Q28057...",en,literal,Pickles
4,uri,"<a href=""http://www.wikidata.org/entity/Q38434...",en,literal,Mancs

#### American policians who were born in Chicago

In [90]:
sparql.setQuery("""
SELECT ?politician ?politicianLabel

WHERE {
    ?politician wdt:P31 wd:Q5 .         # instance of human (is human)
    ?politician wdt:P27 wd:Q30 .        # citizenship USA
    ?politician wdt:P19 wd:Q1297  .     # born in Chicago
    ?politician wdt:P106 wd:Q82955 .    # occuipation politician  
    
    
    SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }

}

LIMIT 10

""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results['results']['bindings']) #this converts from an JSON to a dataframe, using the info we want
results_df = results_df[['politician.value','politicianLabel.value']] #this filters the dataframe to only show the columns we want
results_df.style.format()

---

#### American policians who were not born in Chicago

In [92]:
# we can do 'everyone except' with a minus{}, e.g.,
    
#     MINUS { 
#         ?politician wdt:P19 wd:Q1297 . 
#     } means not born in chicago
    
# this one will take awhile

# sparql.setQuery("""
# SELECT ?politician ?politicianLabel

# WHERE {
#     ?politician wdt:P31 wd:Q5 .         # instance of human (is human)
#     ?politician wdt:P27 wd:Q30 .        # citizenship USA
#     MINUS {?politician wdt:P19 wd:Q1297  .}     # NOT born in Chicago
#     ?politician wdt:P106 wd:Q82955 .    # occuipation politician  
    
    
#     SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }

# }

# LIMIT 10

# """)
# sparql.setReturnFormat(JSON)
# results = sparql.query().convert()
# results_df = pd.json_normalize(results['results']['bindings']) #this converts from an JSON to a dataframe, using the info we want
# results_df = results_df[['politician.value','politicianLabel.value']] #this filters the dataframe to only show the columns we want
# results_df.style.format()

---

#### American policians who were born in Chicago after 1950 and are still alive

In [99]:
sparql.setQuery("""
SELECT ?politician ?politicianLabel

WHERE {
    ?politician wdt:P31 wd:Q5 .         # instance of human (is human)
    ?politician wdt:P27 wd:Q30 .        # citizenship USA
    ?politician wdt:P19 wd:Q1297  .     # born in Chicago
    ?politician wdt:P106 wd:Q82955 .    # occuipation politician  
    ?politician wdt:P569 ?dtb .         # dtb is my variable name; i made it up; ? means it's my variable
    FILTER(YEAR(?dtb) > 1950)
              
    FILTER NOT EXISTS {?politician wdt:P570 ?dtd} # now we want to make sure there is no date of death
    
    SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }

}

LIMIT 10

""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results['results']['bindings'])
# results_df = results_df[['item.value', 'itemLabel.value']]
results_df.style.format()

---

#### Greek policians after 1900 and are still alive, along with their place of birth

In [ ]:
sparql.setQuery("""


""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results['results']['bindings'])
results_df = results_df.loc[:,~results_df.columns.str.contains('.type')] # removes the columns that contain '.type'
results_df = results_df.loc[:,~results_df.columns.str.contains('.lang')] # removes the columns that contain '.lang'

---

#### Greek policians whose father was a politician

In [ ]:
sparql.setQuery("""


""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results['results']['bindings'])
results_df = results_df.loc[:,~results_df.columns.str.contains('.type')] # removes the columns that contain '.type'
results_df = results_df.loc[:,~results_df.columns.str.contains('.lang')] # removes the columns that contain '.lang'
results_df[['item.value', 'itemLabel.value', 'father.value', 'fatherLabel.value']]

---

Advanced queries:
- [Presidents and their causes of death](https://query.wikidata.org/#%23Presidents%20and%20their%20causes%20of%20death%20ranking%0A%23defaultView%3ABubbleChart%0ASELECT%20%3Fcid%20%3Fcause%20%28count%28%2a%29%20as%20%3Fcount%29%0AWHERE%0A%7B%0A%20%20%3Fpid%20wdt%3AP39%20wd%3AQ11696%20.%0A%20%20%3Fpid%20wdt%3AP509%20%3Fcid%20.%0A%20%20OPTIONAL%20%7B%0A%20%20%20%20%3Fcid%20rdfs%3Alabel%20%3Fcause%20FILTER%20%28lang%28%3Fcause%29%20%3D%20%22en%22%29%20.%0A%20%20%7D%0A%7D%0AGROUP%20BY%20%3Fcid%20%3Fcause%0AORDER%20BY%20DESC%28%3Fcount%29%20ASC%28%3Fcause%29)
- [Greek policians after 1900 and are still alive, along with their place of birth](https://query.wikidata.org/#SELECT%20%3Fitem%20%3FitemLabel%20%3Fbirthplace%20%3FbirthplaceLabel%20%3Fgeo%0AWHERE%0A%7B%0A%20%20%20%20%3Fitem%20wdt%3AP31%20wd%3AQ5%20.%20%23%20instance%20of%20human%0A%20%20%20%20%3Fitem%20wdt%3AP27%20wd%3AQ41%20.%20%23%20citizenship%20Greece%0A%20%20%20%20%3Fitem%20wdt%3AP106%20wd%3AQ82955%20.%20%23%20occupation%20politician%0A%20%20%20%20%0A%20%20%20%20%3Fitem%20wdt%3AP19%20%3Fbirthplace%20.%0A%20%20%20%20%3Fbirthplace%20wdt%3AP625%20%3Fgeo%20.%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%0A%20%20%20%20%3Fitem%20wdt%3AP569%20%3Fbirthdate%20.%20%20%23%20date%20of%20birth%0A%20%20%20%20%0A%20%20%20%20FILTER%28YEAR%28%3Fbirthdate%29%20%3E%201900%29%0A%20%20%0A%20%20%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%22%20%7D%0A%7D%0A)

#### Athenian writers of fifth-century BCE

In [ ]:
sparql.setQuery("""


""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results['results']['bindings'])
results_df = results_df.loc[:,~results_df.columns.str.contains('.type')] # removes the columns that contain '.type'
results_df = results_df.loc[:,~results_df.columns.str.contains('.lang')] # removes the columns that contain '.lang'
results_df

---

#### Use Wikidata API to search for entities (items or properties)

In [ ]:
import requests

def search_entities(search_string, entity_type, language='en'):
    endpoint_url = "https://www.wikidata.org/w/api.php"

    # Define the parameters for the API call
    params = {
        'action': 'wbsearchentities',
        'format': 'json',
        'search': search_string,
        'type': entity_type,
        'language': language   
    }

    # Make the API call
    response = requests.get(endpoint_url, params=params)
    data = response.json()

    # Extract and return entity IDs and labels
    entities = data.get('search', [])
    return entities

def display_entities(entities, entity_type):
    print(f"\n{entity_type.capitalize()}:")
    for entity in entities:
        print(f"Entity ID: {entity['id']} - Label: {entity['label']} - Description: {entity['display']['description']['value']} - {entity['concepturi']}")

if __name__ == "__main__":
    search_string = input("Enter the string to search for: ")
    
    # Search for items
    items = search_entities(search_string, 'item')
    display_entities(items, 'items')

    # Search for properties
    properties = search_entities(search_string, 'property')
    display_entities(properties, 'properties')

---