#### Imports

In [1]:
import pandas as pd
from random import randint
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 10000)

#### Download the latest [Pleiades names csv file](https://atlantides.org/downloads/pleiades/dumps/) and read it.

In [ ]:
df = pd.read_csv("pleiades-locations.csv")

#### Print the first two rows

#### Use the `describe()` method to show basic statistics (mean, median, std, etc.) of numeric columns

#### Print the name of the columns

#### Find how many _uniques_ values are in the featureTypes column.

Result: 1235

#### Find Athens
Hint: It is recorded as "Athenae."

#### Find all sanctuaries.
Hint: Have a look first in column "featureTypes". There are more than one piece of information in some cells. How does this affect our code? We have to search for cells with strings that contain the string we are looking for.

You may get an error 'ValueError: Cannot mask with non-boolean array containing NA / NaN values'. If yes, then use the argument `na=False` within the `str.contains()` function.

Result: 606 rows Ã— 26 columns

#### Find all temples and sanctuaries
Hint: Have a look first in column "featureTypes". There are more than one piece of information in some cells. How does this affect your code?

#### Find which is the northernest, southernest, easternest, and westernest sanctuary of the database.

##### northernest

##### southernest

##### easternest

##### westernest

---

#### By using the methin `isin()`, check which items of list1 are _not_ in list2.
Hint: The following code creates two list of numbers from 1 to 100, removes randomly one number from each of them, and transforms the lists to Series.

In [2]:
list1 = [i for i in range(1,101)]
list1.pop(randint(1, 101))
ser1 = pd.Series(list1)
list2 = [i for i in range(1,101)]
list2.pop(randint(1, 101))
ser2 = pd.Series(list2)

---